<% @tweet.comments.order('created_at DESC').each do |comment| %>
  <div class="well">
    <strong><%= comment.text %></strong> <br/><br/>
    posted by <%= link_to comment.user.email, profile_path(comment.tweet.user) %> on <%= comment.updated_at %>
  </div>
<% end %>
