<h1>Welcome to our twitter clone! </h1>

<div id='new-tweet-form-container'>
  <%= render partial: 'tweetform' %>
</div>

<div id="tweet-list">
  <%= render partial: 'tweetlist' %>
</div>

<div>
  <h2>Registered Users:</h2>
  <% @users.each do |user| %>
    <%= link_to user.email, profile_path(user) %>
    <br/>
  <% end %>
</div>
